*.tar
*.parquet
*.pkl
*.csv
*__pycache__
*.gz
*.shp
*.shx
*.prj
*.dbf
*.cpg
*.qpj
*.tar
*.gif
*csv.gz
*.qmd
*.DS_Store
*.xls
*.xlsx
*.ipynb_checkpoints
*cache
*.graphml
*/lib
# Ignore the virtual environment directories
.venv/
.thesis_env/

